@model Aplikacja_wspierajaca_rozwoj_dziecka.Models.Aktywnosc

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Aktywnosc</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Tytul" class="control-label"></label>
                <input asp-for="Tytul" class="form-control" />
                <span asp-validation-for="Tytul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kierunek" class="control-label"></label>
                <select asp-for="Kierunek" class="form-control"></select>
                <span asp-validation-for="Kierunek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZalecanyWiekOdRoku" class="control-label"></label>
                <input asp-for="ZalecanyWiekOdRoku" class="form-control" />
                <span asp-validation-for="ZalecanyWiekOdRoku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZalecanyWiekDoRoku" class="control-label"></label>
                <input asp-for="ZalecanyWiekDoRoku" class="form-control" />
                <span asp-validation-for="ZalecanyWiekDoRoku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SzacowanyCzasMinuty" class="control-label"></label>
                <input asp-for="SzacowanyCzasMinuty" class="form-control" />
                <span asp-validation-for="SzacowanyCzasMinuty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
